{% extends "base.html" %}
{% load static wagtailcore_tags wagtailsettings_tags %}
{% get_settings %}

{% block title %}DMCA - {{ settings.core.GlobalSettings.site_name|default:"Astratoons" }}{% endblock %}

{% block content %}
<div class="main-content-area py-8 md:py-12">
    <div class="container generic-page-container">
        <article class="prose prose-invert lg:prose-xl mx-auto">
            
            <h1 class="page-title">DMCA</h1>
            
            <div class="page-body">
                {# Puxa o conteúdo do campo 'dmca_text' do painel admin #}
                {% if settings.core.GlobalSettings.dmca_text %}
                    {{ settings.core.GlobalSettings.dmca_text|richtext }}
                {% else %}
                    <p>O texto de DMCA ainda não foi configurado no painel de administração.</p>
                {% endif %}
            </div>
            
        </article>
    </div>
</div>
{% endblock content %}